@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    @apply transition-colors duration-500;
}

#background {
    position: absolute;
    width: 100%;
    height: 100%;
    --background-brightness: 100%;
}

#background::before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: theme('colors.primary-content');
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='9.61' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    font-family: Poppins;
    -webkit-filter: brightness(var(--background-brightness));
    -webkit-transition : -webkit-filter 500ms linear;
}

.card-bg {
    @apply bg-base-100 bg-opacity-60 backdrop-blur-2xl ring-1 ring-primary/5;
}

#navbar-links a.active, #navbar-links a:active {
    background-color: theme('colors.primary');
    color: white;
}

.bg-hover-shine-effect {
    --shine-deg: 45deg;
    background-repeat: no-repeat;
    background-position: -100% 0, 0 0;
    overflow: hidden;
  
    background-image: linear-gradient(
      var(--shine-deg),
      transparent 20%,
      transparent 40%,
      rgb(68, 68, 68, 0.2) 50%,
      rgb(68, 68, 68, 0.2) 55%,
      transparent 70%,
      transparent 100%
    );
  
    background-size: 250% 250%, 100% 100%;
    transition: background-position 0s ease;
}
  
.bg-hover-shine-effect:hover {
  background-position: 200%0, 0 0;
  transition-duration: 1.5s;
}

.bg-repeat-shine-effect {
    --shine-deg: 45deg;
    background-repeat: no-repeat;
    background-position: -100% 0, 0 0;
    overflow: hidden;
  
    background-image: linear-gradient(
      var(--shine-deg),
      transparent 20%,
      transparent 40%,
      rgb(255, 255, 255, 0.2) 50%,
      rgb(255, 255, 255, 0.2) 55%,
      transparent 70%,
      transparent 100%
    );
  
    background-size: 250% 250%, 100% 100%;
    animation: moveBackground 3s ease-in-out infinite;
    
}
  
@keyframes moveBackground {
    0% {
        background-position: -100% 0, 0 0;
    }
    50% {
        background-position: -100% 0, 0 0;
    }
    100% {
        background-position: 200% 0, 0 0;
    }
}

.grow-shrink-effect {
    animation: growShrink 3s ease-in-out infinite;
}

@keyframes growShrink {
    0%, 100% {
        transform: scale(1); /* Original size */
    }
    50% {
        transform: scale(1.02);
    }
}

.png-shadow {
    -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(3px 3px 3px #222);
}